@use "./variables" as *;
@use "./mixins" as *;

.light-mode {
  --foreground: #{$foreground-light};
  --background: #{$background-light};
  --markdown: #{$markdown-border-light};
  --primary: #{$primary-light};
  --border: #{$border-light};
}

.dark-mode {
  --foreground: #{$foreground-dark};
  --background: #{$background-dark};
  --markdown: #{$markdown-border-dark};
  --primary: #{$primary-dark};
  --border: #{$border-dark};
}
