$white: #fbfbfb;
$gray-100: #c9c9c9;
$black: #1e1e1e;
$yellow: #fac336;

$color-primary: $yellow;

$foreground-dark: $gray-100;
$background-dark: $black;

$foreground-light: $black;
$background-light: $white;

$markdown-border: #363a3f;
