@import "styles";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

// DISPLAYS

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

// VISIBLITY

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

// IMAGES

.w-full {
  width: 100%;
}

.h-auto {
  height: auto;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

// SHAPES

.round {
  border-radius: 1.15rem;
}

.round-full {
  border-radius: 50%;
}

.round-top {
  border-radius: 1.15rem 1.15rem 0 0;
}

.cursor-pointer {
  cursor: pointer;
}
