@use "./media-queries" as *;

$navbar-height: 5rem;

#banner,
#projects,
#playground,
#about {
  position: relative;
}

.navbar_menu {
  position: absolute;
  width: 100%;
  height: calc(100vh - 5.5rem);
  z-index: 10;
  background-color: var(--background);
}

.section-screens {
  display: grid;
  // flex-wrap: wrap;
  // gap: 1.5rem;
}

.menu {
  &-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: fit-content;
    align-self: flex-end;

    &:hover {
      .menu-tooltip {
        visibility: visible !important;
        opacity: 100%;
      }
    }
  }

  &-link {
    transition: color var(--transition-speed) ease;

    &:hover {
      color: var(--blue-500);
    }
  }

  &-tooltip {
    width: 13rem;
    position: absolute;
    left: -14rem;
    opacity: 0;
    text-align: left;
    transition: opacity var(--transition-speed) ease;

    &-container {
      background: var(--blue-500);
      width: fit-content;
      padding: 0.8rem;
      font-size: 0.85rem;
      color: var(--white);
      border-radius: 8px;
    }
  }
}

.banner-image {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.button {
  // border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  // color: var(--blue-200);
  font-family: inherit;

  &.icon-only {
    width: 2.5rem;
    height: 2.5rem;
    max-width: 2.5rem;
    padding: 0;
  }

  svg {
    color: var(--black);
    height: 1.5rem;
    margin: auto;
    display: flex;
  }
}

.card {
  &_content {
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--blue-200);
    }
  }
}

.input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--primary);
  padding: 1rem;
  font-family: inherit;
}

.floating-bar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.tag {
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  color: var(--primary);
  font-family: inherit;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .section-screens {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .section-screens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .section-screens {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (#{$desktop-sm}) {
  .section-screens {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (#{$desktop-md}) {
  .section-screens {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (#{$desktop-lg}) {
  .section-screens {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (#{$desktop-xlg}) {
  .section-screens {
    grid-template-columns: repeat(6, 1fr);
  }
}
