@use "./media-queries" as *;

.hover-bg-1 {
  transition: background var(--transition-speed) ease-in-out;

  &:hover {
    background: var(--blue-200);
  }
}

.hover-width-50 {
  transition: width var(--transition-speed) ease-in-out;

  &:hover {
    width: 50%;
  }
}

.hover-translateY {
  &-1,
  &-2,
  &-3 {
    transition: transform var(--transition-speed) ease-in-out;
  }

  &-1 {
    &:hover {
      transform: translateY(-0.25rem);
    }
  }

  &-2 {
    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &-3 {
    &:hover {
      transform: translateY(-1rem);
    }
  }
}

.hover-color {
  &-blue-500,
  &-orange-400 {
    transition: color var(--transition-speed) ease-in-out;
  }

  &-blue-500 {
    &:hover {
      color: var(--blue-500);
    }
  }

  &-orange-400 {
    &:hover {
      color: var(--orange-400);
    }
  }
}

.active {
  color: var(--active);
  fill: var(--active);
}

.shadow {
  &-1 {
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
  }

  &-2 {
    box-shadow: 0 0 16px rgba(167, 171, 175, 0.2);
  }

  &-3 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

@media (#{ $mobile }) {
  .mobile {
    &\:hover-translateY {
      &-1,
      &-2,
      &-3 {
        transition: transform var(--transition-speed) ease-in-out;
      }

      &-1 {
        &:hover {
          transform: translateY(-0.25rem);
        }
      }

      &-2 {
        &:hover {
          transform: translateY(-0.5rem);
        }
      }

      &-3 {
        &:hover {
          transform: translateY(-1rem);
        }
      }
    }
  }
}

@media (#{ $tablet }) {
  .tablet {
    &\:hover-width-50 {
      transition: width var(--transition-speed) ease-in-out;

      &:hover {
        width: 50%;
      }
    }
  }
}
