/* Sizes

1 =  .5rem   8px 
2 =  1rem    16px
3 =  1.5rem  24px
4 =  2rem    32px
5 =  2.5rem  40px
6 =  3rem    48px

*/

// Colors

$white: #fff;
$gray-100: #c9c9c9;
$gray-600: #363a3f;
$black: #1e1e1e;
$yellow-500: #fac336;
$yellow-600: #dd9e00;

// Light

$primary-light: $yellow-600;
$foreground-light: $black;
$background-light: $white;
$markdown-light: $gray-100;
$markdown-border-light: 1px solid $markdown-light;
$border-light: 1px solid $black;
$active-light: $primary-light;

// Dark

$primary-dark: $yellow-500;
$foreground-dark: $gray-100;
$background-dark: $black;
$markdown-dark: $gray-600;
$markdown-border-dark: 1px solid $markdown-dark;
$border-dark: 1px solid $gray-100;
$active-dark: $primary-dark;

// Spacings

$gutter: 1.5rem;
$gutter-sm: 1rem;
$padding: 1.5rem;
$padding-sm: 1rem;

$container-width: 18.25rem;

// Fonts

$heading: 3.5rem;
$subtitles: 1.5rem;
$paragraphs: 1rem;

// Components

$navbar-height: 5rem;
